@import url('./root.css');

h1 {
  font-weight: 100;
  margin: 0;
  line-height: 1;
}

h4 {
  margin: 0;
  justify-self: flex-end;
  align-self: flex-start;
  padding: 0 0 var(--gutter) var(--gutter);
}

interval-page {
  width: 100%;
  height: 100%;
  font-weight: 400;
}

#menu-button {
  position: absolute;
  margin: 0;
  right: var(--gutter);
  top: var(--gutter);
  font-size: var(--h5);
}

#warning { color: var(--warning-text) }

@media screen and (min-width: 320px) and (max-width: 767px) {

  interval-page {
    width: 90vh;
    height: 90vw;
  }

  /*
  interval-page > *,
  interval-page div > * {
    border: blue 1px solid;
  }
  */

  h1 {
    font-size: calc(var(--vh) * .35);
    font-weight: 100;
    margin: 0;
    line-height: .9;
  }
}

@media (orientation: portrait) {
  interval-page {
    transform: rotate(-90deg);
  }
}
