@import url('./root.css');

.start-screen,
.error-page,
.log-in {
  width: 100%;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}

.menu {
  position: absolute;
  background-color: var(--bg-start-screen);
  width: 100%;
  height: 100%;
  padding: 0 10%;
  font-weight: 600;
  top: 0%;
  left: 0%;
}

.menu li {
  border: 1px solid var(--primary-font-color);
  border-radius: 2rem;
  width: 85%;
  padding: .75rem 0;
  background-color: var(--bg-count-down);
}

.menu ul:nth-child {
  background-color: var(--bg-2);
}

.login-header {
  width: 50%;
  margin: 0 auto 2rem auto;
  color: var(--bg-1);
}

.login-header p {
  font-family: Arial, sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .log-in {
    max-width: 90%;
    margin: auto;
    white-space: nowrap;
  }

  .login-header {
    width: 80%;
  }

  .login-header p {
    margin: 1rem 0 0 0;
    line-height: 1.4;
  }

  start-page {
    white-space: nowrap;
  }

} 

@media (orientation: portrait) {
  start-page {
    transform: rotate(-90deg);
  }
}
