@import url('./root.css');

body > * {
  max-width: 1000px;
}

.start-screen,
.error-page,
.log-in,
form#intervals {
  width: 100%;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 100%;
  padding: 0 10%;
  top: 0%;
  left: 0%;
  gap: var(--gutter);
}

.menu li, interval-form {
  border: 1px solid var(--primary-font-color);
  border-radius: 2rem;
  width: 85%;
  padding: .75rem 0;
  background-color: var(--bg-count-down);
}

.menu ul:nth-child {
  background-color: var(--bg-2);
}

user-menu h1 {
  font-size: var(--h5);
  line-height: 2rem;
}

program-form {
}

program-form > * {
  width: 75%;
  line-height: 2rem;
}

.body-text {
  text-align: justify;
}

interval-form > input {
  background-color: inherit;
  width: 80%;
  box-shadow: none;
  border-width: 0 0 1px 0;
  border-color: var(--primary-font-color);
  border-style: solid;
  text-align: center;
}

interval-form {
  margin: auto;
  padding: .75rem 0;
}

interval-form > * {
  padding: .25rem .1rem;
}

program-form {
  margin: auto;
  padding: .75rem 0;
  height: 100%;
  gap: 1rem;
}

.login-header {
  width: 50%;
  margin: 0 auto 2rem auto;
  color: var(--bg-1);
}

.login-header p {
  font-family: Arial, sans-serif;
}

navigation-bar {
  position: absolute;
  top: 0;
  width: 100%;
}

#nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: .5;
}

#nav-bar > * {
  padding: 1rem 0;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  z-index: 100;
}

#back-btn-inner {
  width: .9rem;
  height: .9rem;
  border-bottom: solid var(--bg-main) 2px;
  border-left: solid var(--bg-main) 2px;
  transform: rotate(45deg);
}

#menu-btn-inner {
  width: 1.3rem;
  height: 1.3rem;
  border: solid var(--bg-main) 2px;
  border-radius: 100%;
}

.button-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.button-group > * {
  width: 4rem;
}

add-remove-button {
  width: var(--mobile-width);
}

.add-remove-button {
  display: flex;
  justify-content: center;
  gap: var(--gutter);
}

#remove-button,
#add-button {
  width: 50%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  program-form > * {
    width: 90%;
  }

  .log-in {
    max-width: 90%;
    margin: auto;
    white-space: nowrap;
  }

  .login-header {
    width: 80%;
  }

  .login-header p {
    margin: 1rem 0 0 0;
    line-height: 1.4;
  }

  start-page {
    white-space: nowrap;
  }

} 

@media (orientation: portrait) {
  start-page {
    transform: rotate(-90deg);
  }
}
