@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
  --bg-start-screen: #727272;
  --bg-count-down: #FF6160;
  --primary-font-color: #000000;
  --primary-font: 'Archivo Black', sans-serif;
  --bg-1: rgb(255,97,96);
  --bg-2: rgb(248,168,43);
  --bg-3: rgb(248,247,44);
  --bg-4: rgb(54,248,43);
  --warning-text: rgb(254,1,0);
  --balance-text: rgb(16,13,255);
  --yellow-text: rgb(253,254,2);
  --gutter: 1.7rem;
  --form-gutter: .8rem;
  --scale: 1.618;
  --base-font-size: 16px;
  --h5: calc(var(--base-font-size) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));
  --p: calc(var(--base-font-size));
  --small: calc(var(--p) / var(--scale));
  --x-small: calv(var(--small) / var(--scale));
  --base-line-height: 1; 
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-start-screen);
    color: var(--primary-font-color);
    font-family: var(--primary-font);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
  }


  h1, h2, h3, h4, h5 {
    margin: 1rem;
    /*
    margin: 3rem 0 1.38rem;
    font-weight: 400;
    line-height: 1.3;
     */
  }

  h1, .h1 {
    margin: 0;
    font-size: var(--h1);
  }

  h2, .h2 {font-size: var(--h2)}

  h3, .h3 {
    font-size: var(--h3);
  }

  h4, .h4 {font-size: var(--h4)}

  h5, .h5 {font-size: var(--h5)}

  p, .p {
    /*
    margin-bottom: 1rem;
     */
    font-size: var(--p);
  }

  small, .text_small {font-size: var(--small)}

  .x-small {font-size: var(--x-small)}

  ul {
    gap: var(--gutter);
  }

  li {
    list-style-type: none;
    font-size: var(--h5);
    text-align: center;
  }

  form {
    gap: var(--form-gutter);
  }

  #container {
    width: 100%;
    height: 100%;
  }

  .flex-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

