@import './variables.css';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  background-color: var(--bg-start-screen);
  color: var(--primary-font-color);
  font-family: var(--primary-font);
}

.flex-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-screen {
  width: 100%;
  height: 100%;
  font-size: 5em;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .start-screen {
    transform: rotate(-90deg);
    transform-origin: left top;
    height: 100vw;
    width: 100vh;
    position: fixed;
    top: 100%;
    bottom: 0;
  }
}
