@import './variables.css';

#container {
  position: absolute;
  top: 0;
  left: 0;;
  width: 100%;
  height: 100%;
  background-color: var(--bg-start-screen);
  color: var(--primary-font-color);
  font-family: var(--primary-font);
}

.start-screen {
  font-size: 6em;
  font-weight: 400;
}
