:root {
  --bg-start-screen: #727272;
  --bg-count-down: #FF6160;
  --primary-font-color: #000000;
  --primary-font: 'Arial Black', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  background-color: var(--bg-start-screen);
  color: var(--primary-font-color);
  font-family: var(--primary-font);
}

.flex-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-screen,
.error-page {
  width: 100%;
  height: 100%;
  font-size: 5rem;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}

.menu {
  position: absolute;
  background-color: pink;
  width: 70%;
  height: 70%;
  font-size: 3rem;
  top: 15%;
  left: 15%;
}

li {
  list-style-type: none;
}

.error-page {
  font-size: 4rem;
}

